<%- unless @tooltips ; then @tooltips = []; ttflag = true ; else; ttflag = false ;  end %>
<p><strong>Note:</strong> Fields marked with a <em>*</em> are required.</p>
<%= render_tooltips(@tooltips) if ttflag %>
